<ion-view view-title="Enviar notificació">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Your latitude</span>
        <input type="text" placeholder="2.27">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Your longitude</span>
        <input type="text" placeholder="4.12">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Notificació
        </div>
        <select>
          <option>Espatllat</option>
          <option selected>Complert</option>
          <option>Altres</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tipus contenidor
        </div>
        <select>
          <option selected>General</option>
          <option>Orgànic</option>
          <option>Vidre</option>
          <option>Envasos</option>
          <option>Cartró</option>
          <option>Altres</option>
        </select>
      </label>
      <button class="button button-block">
        Enviar notificació
      </button>
    </div>
  </ion-content>
</ion-view>
